/*=============font--import============*/


/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    /*height: ;*/
    /*font-family: ;*/
    /*font-size: ;*/
    line-height: 1.5;
    margin: 0 auto;

}
/*================common-classes=================
*{margin: 0; font-family: sans-serif;}
nav{
  background: #222;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 75%;
  transition: all 0.4s;

}
body .fixed{
    position: fixed;
    z-index: 99;
    transition: all 0.4s;
}
body .op_fixed{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.class_po{
    position: absolute;
    opacity: 1;
    visibility: visible;

}
  ul{
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  li{
    display: block;
    margin: 0.5rem;
  }
  a{
    display: inline-block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
  }
  li.active a{
      border-color: skyblue;
  }

section{
  min-height: 100vh;
  height: 300px;
}
#one{
    background: #444;

}
#two{

    background: #555;

}
#three{
    background: #666;

}
#four{

    background: #777;

}

*/











/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/
/*================section=================*/

